@using StockManager.Core.InputModels;
@using StockManager.Core.Services;

@inject StockTransactionService transactionService;
@inject IDialogService dialogService;

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudForm Model="@Data" @ref="@Form" @bind-IsValid="@IsValid">
                    <MudTextField T="int" @bind-Value="Data.Code" Label="銘柄コード" Required="true" RequiredError="※必須" />
                    <MudTextField T="string" @bind-Value="Data.Name" Label="会社名" Required="true" RequiredError="※必須" />
                    <MudDatePicker @bind-Date="Date" Label="日付" Required="true" RequiredError="※必須" />
                    <MudTextField T="int" @bind-Value="Data.Quantity" Label="株数" Required="true" RequiredError="※必須" />
                    <div class="d-flex">
                        <MudRadioGroup @bind-SelectedOption="Data.IsNisa" T="bool" Required="true" RequiredError="Required!">
                            <MudRadio Option="@true">NISA預かり</MudRadio>
                            <MudRadio Option="@false">一般預かり</MudRadio>
                        </MudRadioGroup>
                    </div>
                    <MudTextField T="double" @bind-Value="Data.Amount" Label="利益" Required="true" RequiredError="※必須" />
                </MudForm>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">閉じる</MudButton>
        <MudButton OnClick="Register" Disabled="@(!IsValid)">登録</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    StockTransaction Data = new StockTransaction();
    bool IsValid = true;
    MudForm? Form;
    DateTime? Date;

    private async Task Register()
    {
        try
        {
            this.Data.Date = Date!.Value;
            await transactionService.RegisterStockTransactionAsync(this.Data);
            MudDialog.Close(DialogResult.Ok(true));
        }
        catch (Exception)
        {
            await dialogService.ShowMessageBox("エラー", "登録でエラーが発生しました。もう一度実行してください。", yesText: "閉じる");
        }
    }

    private void Close()
    {
        MudDialog.Close();
    }
}
