@using StockManager.Core.InputModels;
@using StockManager.Core.Services;
@using StockManager.Core.Utils;

@inject StockTransactionService transactionService;

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12" sm="12">
                <MudForm Model="@Data" @ref="@Form" @bind-IsValid="@IsValid">
                    <MudTextField T="int" @bind-Value="Data.Code" Label="銘柄コード" Required="true" RequiredError="※必須" />
                    <MudTextField T="string" @bind-Value="Data.Name" Label="会社名" Required="true" RequiredError="※必須" />
                    <div class="d-flex">
                        <MudRadioGroup @bind-SelectedOption="Data.Type" T="TransactionType" Required="true" RequiredError="Account type is required!">
                            <MudRadio Option="@(TransactionType.Buy)">購入</MudRadio>
                            <MudRadio Option="@(TransactionType.Sell)">売却</MudRadio>
                        </MudRadioGroup>
                    </div>
                    <MudTextField T="int" @bind-Value="Data.Quantity" Label="取引株数" Required="true" RequiredError="※必須" />
                    <MudDatePicker @bind-Date="Date" Label="取引日" Required="true" RequiredError="※必須" />
                    <MudTextField T="double" @bind-Value="Data.Amount" Label="価格" Required="true" RequiredError="※必須" />
                    <div class="d-flex">
                        <MudRadioGroup @bind-SelectedOption="Data.IsNisa" T="bool" Required="true" RequiredError="Required!">
                            <MudRadio Option="@true">NISA預かり</MudRadio>
                            <MudRadio Option="@false">一般預かり</MudRadio>
                        </MudRadioGroup>
                    </div>
                    <MudTextField T="int" @bind-Value="Data.Commission" Label="手数料" Required="false" />
                    <MudTextField T="string" @bind-Value="Data.Memo" Label="メモ" Required="false" />
                </MudForm>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">閉じる</MudButton>
        <MudButton OnClick="Register" Disabled="@(!IsValid)">登録</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    StockTransaction Data = new StockTransaction();
    bool IsValid = true;
    DateTime? Date;
    MudForm? Form;

    protected async Task Register()
    {
        this.Data.Date = this.Date!.Value;
        await transactionService.RegisterStockTransactionAsync(this.Data);
        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Close()
    {
        MudDialog.Close();
    }
}
